<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/all/widgets/101_default.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <style>
      .widget {position:static;}
    </style>
  </head>
  <body>
    <table>
    <% 
      u = User.find_by_login('ostrowj@missouri.edu')
     ids = [227251, 227253, 227260, 227244, 227274, 227276, 227277, 227278, 227273, 227483, 227484, 227482, 227280, 227553, 227569, 227248, 227249, 227350, 227349, 227265, 227574, 227242, 227571, 227859, 227353, 227282, 227263, 227254, 227867, 227862, 227854, 227283, 227855, 227856, 227858, 227857, 227860, 227861, 227865, 227863, 227864, 227554, 227258, 227479, 227355, 227485, 227255, 227256, 227352, 227566, 227476, 227262, 227261, 227351, 227348, 227481, 227347, 227345, 230660, 227573, 227356, 227486, 227264, 231034, 231128, 231129, 227245, 231130, 227247, 231191, 231193, 231194, 227567, 227568, 227346, 227575, 227488, 227570, 227572, 231626, 227250, 227480, 227474, 227354, 227281, 227477, 227246, 231036, 227473, 227478, 232682, 232683, 227252, 232678, 232679, 232680, 211396, 211397, 211416, 211410, 211420, 211419, 211893, 211902, 211903, 211927, 211930, 211933, 212054, 212135, 212136, 212277, 212535, 213479, 214014, 214154, 214507, 214831, 215547, 216234, 216551, 216832, 216930, 217567, 218558, 216552, 220015, 220108, 220225, 220307, 220308, 221470, 220215, 221496, 222698, 222824, 224066, 224082, 224222, 224299, 224420, 224493, 224588, 224591, 211573, 224594, 224983, 225807, 225765, 224732, 225843, 226501, 225912, 224736, 227361, 227430, 227735, 227789, 228612, 230685, 230704, 230775, 230783, 232114, 232363, 233666, 230948, 230946, 232913, 232972, 233280, 233548, 231425, 232946, 215532, 215900, 215924, 217589, 218071, 217573, 218259, 218298, 217640, 217680, 219095, 215932, 217586, 218296, 217601, 217669, 219907, 220014, 220441, 218073, 217740, 221534, 218083, 219097, 222247, 222830, 224284, 221506, 223606, 224249, 228317, 227803, 218072, 224818, 229093, 229399, 230407, 230452, 227498, 231507, 232263, 232355, 233108, 221643, 222804, 221641, 233429, 228188, 228189, 230162, 230163, 230447, 230448, 228194, 230790, 230815, 230853, 228193, 228192, 230818, 228190, 228191, 231444, 232007, 232029, 232030, 232031, 224609, 224611, 224610, 224612, 224602, 226064, 226149, 227068, 227639, 227684, 227838, 228067, 228061, 228220, 228073, 228470, 228469, 228563, 229673, 229789, 230581, 230439, 231041, 231055, 231186, 218821, 218822, 218828, 218816, 218838, 218839, 218811, 218832, 218825, 218840, 218841, 218844, 224985, 225534, 224987, 224991, 224993, 224996, 225540, 225541, 225554, 225559, 225553, 225539, 218806, 217375, 218903, 218905, 218908, 218910, 218912, 218913, 218923, 218971, 218976, 218985, 219102, 219114, 219197, 219247, 219285, 219292, 219309, 219369, 219386, 219406, 219416, 219980, 220196, 220013, 220197, 220253, 220286, 220287, 220451, 220533, 220447, 223745, 223752, 224433, 220524, 213883, 213882, 214543, 214542, 214541, 214876, 214878, 214879, 214911, 214914, 214912, 215213, 215257, 215360, 215366, 215909, 215910, 216031, 216038, 216915, 216959, 216961, 217045, 216917, 217604, 217602, 217046, 218426, 215911, 218428, 218917, 218922, 218931, 218935, 218936, 218962, 218966, 218967, 219214, 219210, 219344, 219346, 218963, 219554, 215258, 230232, 202855, 203080, 203123, 203031, 203122, 203230, 203232, 203121, 202889, 202883, 202877, 203081, 202873, 203312, 203307, 203295, 203314, 203378, 203379, 203363, 203637, 203376, 203812, 201328, 203814, 203815, 203773, 203816, 203841, 203767, 203780, 203775, 203745, 203772, 203778, 203779, 203813, 204445, 203817, 203737, 204513, 204515, 204459, 204696, 203940, 204702, 204697, 204205, 204703, 204645, 204869, 204773, 205225, 205663, 209179, 204687, 205226, 204688, 204685, 204692, 204680, 206719, 204686, 204683, 206718, 204690, 207146, 207143, 207381, 207118, 207151, 204694, 207733, 207474, 207485, 206716, 206984, 206776, 207221, 208770, 208111, 208869, 204693, 208891, 208893, 208901, 208107, 208868, 207120, 206772, 206743, 208943, 208593, 204681, 209168, 207316, 208872, 204682, 208115, 207988, 208171, 208165, 208166, 208164, 210579, 210573, 210561, 210570, 210571, 208169, 210575, 208163, 208168, 208170, 212975, 212971, 212964, 212977, 212961, 210578, 212968, 212974, 212966, 213006, 212963, 213358, 212976, 212973, 210576, 210228, 210555, 210587, 210588, 210590, 210589, 211065, 211072, 214916, 217605, 216794, 218343, 218887, 218969, 216027, 216028, 216252, 216261, 216275, 216356, 216393, 216263, 216426, 216851, 216852, 216853, 216831, 216029, 217270, 217269, 216856, 216391, 217278, 217276, 217279, 217284, 217035, 217288, 217241, 217294, 217292, 217298, 217233, 217287, 216557, 216874, 216859, 217728, 217801, 217839, 217856, 217857, 217854, 218363, 218367, 218868, 218869, 218871, 218872, 218873, 218874, 217855, 211194, 213327, 213928, 213933, 213962, 213475, 213964, 213965, 213966, 211838, 213967, 213960, 214037, 214040, 214042, 213925, 214041, 214043, 214039, 214126, 214124, 213921, 214125, 214045, 214118, 214128, 214127, 214152, 213963, 214242, 214245, 214248, 214328, 214601, 214603, 214604, 214605, 214607, 214715, 214717, 214718, 214719, 214720, 214721, 214739, 214832, 214885, 215008, 215009, 215013, 210192, 210191, 210637, 210634, 210709, 211040, 211064, 211067, 211062, 210712, 211063, 211073, 211076, 211106, 211229, 211222, 211366, 211369, 211368, 211380, 211367, 211230, 211461, 211465, 211070, 211225, 211467, 210696, 211077, 211227, 211470, 211464, 211476, 211492, 211119, 211472, 211498, 211448, 211503, 211496, 211574, 211575, 211576, 211577, 209303, 209304, 209305, 209306, 209308, 209309, 209310, 209311, 209312, 209313, 209314, 209315, 209316, 209317, 209318, 209319, 209320, 209321, 209322, 209324, 209325, 209327, 209328, 209329, 209333, 209334, 209352, 209339, 209337, 210032, 210184, 211199, 211306, 211329, 211330, 211374, 211318, 211395, 211314, 211372, 211390, 211386, 206334, 206333, 206337, 206591, 208418, 208466, 208542, 208545, 208682, 208766, 208971, 208989, 208991, 208705, 208994, 208963, 208988, 208681, 209114, 209121, 209130, 209205, 209210, 209207, 209208, 209209, 208992, 209194, 209206, 208973, 208970, 209128, 208767, 209120, 209710, 209715, 209713, 209212, 204173, 204174, 204175, 204170, 205563, 205641, 205916, 205920, 205946, 205945, 205985, 205983, 206343, 206342, 206758, 206762, 207142, 207141, 207161, 207183, 207184, 207185, 207186, 207210, 207216, 207325, 207326, 205560, 205640, 205565, 204865, 204867, 207989, 163618, 164497, 164498, 164596, 164597, 164721, 164722, 164723, 164726, 164889, 164893, 164895, 164911, 165021, 156078, 156091, 158266, 158267, 158496, 158549, 158551, 158571, 158550, 158553, 158707, 158497, 158708, 158712, 158828, 158552, 158904, 159306, 159308, 159310, 159323, 156315, 156326, 156328, 157190, 157191, 157193, 157226, 157227, 156322, 157205, 157192, 156327, 157228, 157229, 157206, 157208, 157256, 157614, 157615, 157616, 157617, 158172]
     WidgetNote.find(ids).each do |widget|
     %>
    <% 
    	themeClass = widget.styles.select{|s| s.name=="theme" }.collect{|i|" #{i.value}"}.to_s 
    	styleprops = widget.styles.select{|s| s.name==nil }
    	index = 0
    -%>
    <tr>
      <td>
        <%= widget.widget_instance_text.id %>
    <div style="position:relative">
        <div class="note widget<%= if widget.locked?; " widget-locked" end %><%= " no-drop-shadow" if widget.shadow == 0 %><%= themeClass %><%= " no-background-fill" if widget.styles.detect{|s| s.value=="0" && s.attr=="fill"} %>" style="width:300px;height:300px; z-index:<%=index%>" id="widget_<%= widget[:id]  %>">
          <%= render :partial => "/widgets/default/shadow_focus" %>
        	<div class="base">
            <div class="base-bg note-bg" style="<% widget.styles.select{|s| s.attr == "opacity"}.each do |property| %>opacity:<%=property.value %>;filter:alpha(opacity=<%=(property.value.to_f*100).to_i %>);<% end %><% widget.styles.select{|s| s.attr =~ /background/}.each do |property| %><%=property.attr.tr('_','-') %>:<%=property.value %>;<% end %>"><p>&nbsp;</p></div>
            <div class="editor-bg"><div class="editor-bg-border">&nbsp;</div></div>
        		<div class="editor-canvas"><div class="editor"><%= widget.text %></div></div>
        		<%= render :partial => "/widgets/default/remove_resize"  %>
        	</div>
        </div>
    </div>
      </td>
      <td>
        <%= widget.widget_instance_text.id %>
        <div style="position:relative">
            <div class="note widget<%= if widget.locked?; " widget-locked" end %><%= " no-drop-shadow" if widget.shadow == 0 %><%= themeClass %><%= " no-background-fill" if widget.styles.detect{|s| s.value=="0" && s.attr=="fill"} %>" style="width:300px;height:300px; z-index:<%=index%>" id="widget_<%= widget[:id]  %>">
              <%= render :partial => "/widgets/default/shadow_focus" %>
            	<div class="base">
                <div class="base-bg note-bg" style="<% widget.styles.select{|s| s.attr == "opacity"}.each do |property| %>opacity:<%=property.value %>;filter:alpha(opacity=<%=(property.value.to_f*100).to_i %>);<% end %><% widget.styles.select{|s| s.attr =~ /background/}.each do |property| %><%=property.attr.tr('_','-') %>:<%=property.value %>;<% end %>"><p>&nbsp;</p></div>
                <div class="editor-bg"><div class="editor-bg-border">&nbsp;</div></div>
            		<div class="editor-canvas"><div class="editor"><%= widget.widget_instance_text.clean_value %></div></div>
            		<%= render :partial => "/widgets/default/remove_resize"  %>
            	</div>
            </div>
        </div>
        
      </td>
    </tr>
    <% end %>
  </body>
</html>
